.capture-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.upload-section button {
    cursor: pointer;
}

.canvas-wrapper {
    text-align: center;

    canvas {
        width: 100%;
        height: auto;
        max-height: 60vh;
        border: 1px solid #ccc;
        display: block;
        margin: 0 auto 0vh auto;
    }
}

.frames-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
    background-color: #ffffff;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
}

.frame {
    height: 60px;
    cursor: pointer;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
}

.frame.selected {
    border: 2px solid #3aa14f;
}

.download-button {
    display: block;
    margin: 0 auto 2rem auto;
    width: 100%;
    max-width: 300px;
    cursor: pointer;
}

.hidden-input {
    display: none;
}

.approval-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 2vh;
    margin-bottom: 50px;

    .approve-button,
    .reject-button {
        padding: 0.8rem 1.5rem;
        border: none;
        font-weight: bold;
        cursor: pointer;
        border-radius: 8px;
        transition: 0.3s ease;
    }

    .approve-button {
        border: 1.5px solid #333;
        /* borda escura */
        padding: 10px 20px;
        border-radius: 10px;
        background-color: #ddd;
        /* cinza claro */
        color: #222;
        /* texto escuro */
        font-weight: 600;
        transition: background-color 0.5s ease, color 0.5s ease;
        cursor: pointer;
        user-select: none;
        margin-bottom: 50px;

        &:hover {
            background-color: #3aa14f;
            color: #fff;
            border-color: #2a7a3c;
        }
    }

    .reject-button {
        border: 1.5px solid #333;
        /* borda escura */
        padding: 10px 20px;
        border-radius: 10px;
        background-color: #ddd;
        /* cinza claro */
        color: #222;
        /* texto escuro */
        font-weight: 600;
        transition: background-color 0.5s ease, color 0.5s ease;
        cursor: pointer;
        user-select: none;
        margin-bottom: 50px;

        &:hover {
            background-color: #f1574c;
            color: #fff;
            border-color: #f44336;
        }
    }

    .approve-button:hover,
    .reject-button:hover {
        opacity: 0.85;
    }
}

.btn {
    border: 1.5px solid #333;
    /* borda escura */
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #ddd;
    /* cinza claro */
    color: #222;
    /* texto escuro */
    font-weight: 600;
    transition: background-color 0.5s ease, color 0.5s ease;
    cursor: pointer;
    user-select: none;
    margin-bottom: 50px;

    &:hover {
        background-color: #3aa14f;
        color: #fff;
        border-color: #2a7a3c;
    }
}